@font-face {
  font-family: Blotos;
  src: url('Blotos/BLotusBold.eot');
  src: url('Blotos/BLotusBold.eot?#iefix') format('embedded-opentype'),
      url('Blotos/BLotusBold.woff2') format('woff2'),
      url('Blotos/BLotusBold.woff') format('woff'),
      url('Blotos/BLotusBold.ttf') format('truetype'),
      url('Blotos/BLotusBold.svg#BLotusBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1{
  margin: 15px;
}

h2{
  margin: 12px;
}
h3{
  margin: 10px;
}
h4{
  margin: 8px;
}
h5{
  margin: 6px;
}




 #inastagramlink {
  position: fixed;
  left: 5px;
  top: 50%;
  background-color:  rgba(179, 186, 184, 0.268);
 border-radius: 5px;
width: 60px;
height: 60px;
background-image: url(/image/InstagramLogo.jpg);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;


 }

/*
top-menu-css

*/

  #top-menu{
    background-color:  #ffffff;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0px;

    box-shadow: 0px 3px 3px rgb(128, 129, 126);
    z-index: 9;
    display: flex;
    justify-content: space-between;
    color:  black;
    align-items: center;
  }
  
  #basketicon-reg{
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    margin-left: 20px;
  }
  #reg >:link{
    text-decoration: none;
    
  }
  #basketicon > span{
    transform:translateX(20px) translateY(-30px);
    display: inline-block;
    color:rgb(16, 6, 6);
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
  }
  #srech-sidebaricon{
    display:flex ;
    align-items: center;
   width: 250px;
    margin-right: 20px;
    justify-content: space-between;

  }

  #serchtext{
    border: 0ch;
    
    margin-right: 5px;
    font-size: 15px;
    direction: rtl;
    background-color:  rgba(179, 186, 184, 0);

  }
  
  .icon{
    color: rgb(18, 2, 2);
    margin-top: 5px;
  }
  .icon:hover{
    color: red;
  }
  #serch{
    border: 2px solid rgb(161, 155, 155);
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    background-color:  rgba(179, 186, 184, 0.129);

  }
  #serchprodoc{
    position: absolute;
    background-color: #ffffff;
    right: 0px;
    left: 0px;
    max-height: 200px;
    overflow: scroll;
    top: 32.6px;
    border: 2px solid rgb(161, 155, 155);
    border-radius: 8px;
    direction: ltr;
    display: none;
    text-align: right;
    
    
  }
  #serchprodoc>ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  #serchprodoc>ul>li{
    background-color: rgb(239, 242, 242);
    padding-right: 8px;

  }
  #serchprodoc>ul>li:not(:last-child){
    border-bottom: 1px solid rgb(161, 155, 155);

  }
  #serchprodoc>ul>li:hover{
    background-color: rgb(182, 213, 213);
    cursor: pointer;
  }
  #reg>a:hover{
    color: red;
  }

  #reg>a{
    color: #000;
  }
  .sidebaricon:hover{
    color: red;
  }
  #leftlogin:hover{
    color: red;

  }
  /*


Footer


  */

  #footer{
    background-color:  #ffffff ;
    width: 100%;
    height: 200px;
    box-shadow: 0px -3px 0px rgb(128, 129, 126);

    direction: rtl;
    display: flex;
    color:black;
    justify-content: space-between;
   
    padding-top: 20px;
  }
  #acess{
  margin-right: 50px;
  
  }
  #map{
    margin-left: 50px;
  }
  
  /*

  Sidebar


  */
  #sidebar{
    width: 300px;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 99;
    background-color: #f6f6f6;
    border-left:2px solid  rgb(161, 155, 155);

    font-weight: 700;
    font-size: 25px;
    display: block;
    
  }
  #sidebarlist{
    list-style:none;
    direction: rtl;
    margin: 0px;
    padding-right: 0%;    
  }

  #sidebarlist :link{
    text-decoration: none;
    color: #000;
    padding: 20px;
    
    display: inline-block;
    cursor: pointer;
    margin: 0px;
    width: calc(100% - 40px);

  }
  
  .sidebarlists:not(:last-child) {
    /* استایل دلخواه */
    border-bottom: 2px solid  rgb(161, 155, 155);
    transition-duration: 0.3s;
}
#sidebarlist>li:hover {
  background-color: rgb(182, 213, 213);
}
#keshtlist{
  display:none;
  
}
#keshtlist{

  background-color: #f6f6f6;

}

.keshtlists{
  border-top: 2px solid  rgb(161, 155, 155);
}

.keshtlists:hover{
  background-color: rgb(182, 213, 213);
}


/*


Prodoct

*/

#productcontainer:hover{
  box-shadow: 10px 10px 6px rgb(161, 155, 155);

}
#productcontainer{
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(182, 178, 178);

  width: 300px;
  height: 500px;
  margin: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 255, 136, 0.833);
}
#productbuyitem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#productbuybutton{
  font-size: 20px;
  width: 60px;
  cursor: pointer;
}
#productbuybutton:hover{
  transform: scale(1.2);

}
#productbuynumber{
  text-align: center;
  font-size: 20px;
  width: 60px;
}
.productbuym{
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  width: 30px; ;

}
#productbuynum{
  margin-left: 70px;
  border-radius: 40%;
}

.image-container {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  cursor: zoom-in;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* حفظ نسبت تصویر در ظرف */
  transition: transform 0.3s ease;
  border-radius: 10px;

}

.zoomed {
  transform: scale(1.8);
  transition: transform 0.3s ease;
  border-radius: 10px;
  width: 250px;
  height: 250px;

}







/*




products



*/
#sorting{
  position: absolute;
  top: 3%;
  left:7%;
  width: 100px;
  height: 30px;
  font-size: 15px;
  border: 2px solid rgb(161, 155, 155);
  border-radius: 4px;
}



#productscontainer{
  border: 5px solid rgb(144, 139, 139);
  position: relative;
  width: 80%;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6; 
}
#products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}


/*

Basket
*/

#listkharid{
  display: flex;
  width: 100%;
  height: 150px;
  border: 3px solid rgb(161, 155, 155);
  border-radius: 10px;
  margin-bottom: 50px;
  background-color:   rgb(0, 255, 136);

  align-items: center;
  justify-content: center;

}
.basketbakhsh{
display: flex;
align-items: center;
justify-content: center;
}

/*

Basketitems

*/

.buys{
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
#pricecontaners{
  display: flex;
  flex-direction: column;
  background-color:  rgb(0, 255, 136);
  width: 100%;
  border: 3px solid rgb(161, 155, 155);
  margin-bottom: 50px;
  align-items: center;
  height: 200px;
  justify-content: center;
  border-radius: 10px;

}
#pricecontaner{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.pricecontaner{
  margin-right: 15px;
}
#buybottom{
  margin-right:25px;
  cursor:pointer;
  border-radius:10px;
  border: 2px solid rgb(161, 155, 155);
 width: 90px;
  background-color: buttonface;
  height: 30px;
  
  display: inline-block;
text-align: center;
}
#buybottom:hover{
background-color: rgb(207, 204, 204);
}




/*

signup


*/



#signupcontainer{
  direction: rtl;
  margin-top: 100px;
  margin-bottom: 50px;
  border: 3px solid rgb(161, 155, 155);
  width: 500px;
  padding: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: rgb(234, 233, 233);
  
}
#signuptittel{
  text-align: center;
  font-size: 50px;
  padding-top: 0%;
  margin-top: 0%;
}
.contains{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 5px;
}
.containss{
  
  font-size: 20px;
  padding: 5px;
}
.gender{
  display: flex;
  align-items: center;

}
.signupinput{
  font-size: 16px;
  width: 200px;
  height: 30px;
  color: #494949;
}
.signuplabel{
  display: block;
}
.error{
  font-size: 12px;
  color:red;
}

#signupbutton{
transform: translateX(-416px);
margin-top: 30px;
width: 80px;
height: 40px;
border-radius: 6px;
font-size: 20px;
border: 2px solid rgb(161, 155, 155);
background-color: rgb(164, 221, 248);
cursor: pointer;

}

#signupbutton:hover{
  background-color: darkgray;
  color: #ffffff;
}


/*

Login



*/
#logintitle{
  padding-top: 0%;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0%;
}
#logincontainer{
  direction: rtl;
  margin-top: 60px;
  margin-bottom: 5px;
  border: 3px solid rgb(161, 155, 155);
  width: 300px;
  padding: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: rgb(234, 233, 233);
  font-size: 20px;
  
}
.loginlabel{
  display: block;


}

.logininput{
  font-size: 16px;
  width: 200px;
  height: 30px;
  color: #494949;
}

#loginbutton{
  transform: translateX(-250px);
  margin-top: 30px;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  font-size: 20px;
  border: 2px solid rgb(161, 155, 155);
  background-color: rgb(255, 251, 251);
  cursor: pointer;
  
  }
  
  #loginbutton:hover{
    background-color: darkgray;
    color: #ffffff;
  }
  #login{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
  }

  /*

  send


  */
  
  #sending{
    display: flex;
    width: 85%;
  }

#boxprice{
  width: 25%;
  background-color: #ffffff;
  direction: rtl;
  border-radius: 20px;
  max-height: max-content;
  margin-top: 30px;

}
#boxaddress{
  width: 75%;
}
#processsending{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 30px;
  border-radius: 20px;
direction: rtl;
}

.processitem{
  width: 20%;
}

.processitemname{
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 5px;
}
.processbars{
  height: 20px;
  border-bottom: 3px solid rgb(243, 244, 242);
  margin-bottom: 20px;
  text-align: center;
}
.processbars>span{
border: 3px solid rgb(243, 244, 242);
font-size: 14px;
border-radius: 3px;
width: 20px;
height: 20px;
display: inline-block;
transform: translateY(9px);
background-color: #ffffff;
}
#sendingcontainer{

  direction: rtl;
  background-color: #ffffff;
  padding:20px ;
  margin: 30px;
  border-radius: 20px;
  
}



#addrescontaniers{
  margin-bottom: 40px;
  
}
.sendingaddress{
  margin-left: 30px;
  cursor: pointer;
}

#addrescontanier{
  display: flex;
  margin-bottom: 30px ;
  opacity: 0.5;
  
  }
  #addrescontanier:hover{
    opacity: 1;
  }

#addres{
  width: 100%;
  border: 2px solid #eeee;
  border-radius: 20px;
}
#addres1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;


}
#addres2{
  display: flex;
  align-items: center;
  border-bottom: 2px solid #eeee;
  height: 80px;
  margin: 0px ;

}
#addres3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
#addres1span1{
  border-left: 2px solid #dddadaee;
  padding:0px 10px 0px 10px;

}
#viraeh{
  border-left: 2px solid #dddadaee;
}
#addres3phone{
  border-left: 2px solid #dddadaee;
  padding:0px 10px 0px 10px;

}
.viraeshdilit{
  text-decoration: none;
  padding:0px 10px 0px 10px;
  color: #000;
}
.viraeshdilit:hover{
 
  color: red;
}
#addres3post{
  border-right: 2px solid #dddadaee;
  padding:0px 10px 0px 10px;

}
#Addressbottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Addressbottom1{
width:30%;
font-size:16px;
height:40px;
border: 2px solid rgb(161, 155, 155);
border-radius: 5px;
cursor: pointer;
}
#Addressbottom2{
  width:15%;
  font-size:16px;
  height:40px;
  border: 2px solid rgb(161, 155, 155);
  border-radius: 5px;
  cursor: pointer;
}
#Addressbottom1:hover,
#Addressbottom2:hover
{
  box-shadow: 7px 7px 4px rgb(161, 155, 155);

}
/*

SendingAddresses
*/

#SendingAddresses{
  direction: rtl;
  width: 60%;
  background-color: #ffffff;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom:50px ;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Addressinput{
  width: 60%;
  height: 30px;
  border: 2px solid rgb(161, 155, 155);
  border-radius: 6px;
  font-size: 16px;
  

}
.Addresslabel{
  text-align: right;
  display: inline-block;
  width: 20%;
}
#sabtneshani{
  width: 100%;
  height: 40px;
  font-size: 20px;
  background-color:red;
  color: white;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 10px;
  margin-top: 30px;
}
#sabtneshani:hover{
color: red;
background-color: #ffffff;
}

/*

Sendingway


*/

#Sendingways{
  width: 100%;
  border: 2px solid #eeee;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  direction: rtl;
  text-align: center;
  
}
#Sendingway1{
  width: 25%;
}
#Sendingway11{
  width: 75%;
  display: flex;
}
#Sendingway2{
  width: 25%;
  padding-left: 15px;
}
#Sendingway3{
  width: 50%;
  text-align: justify;

}

#Sendingway4{
  width: 25%;
}
#Sendingwayimge{
  width:90%;
  margin-top: 5px;

}




/*


Dargah


*/

.bankname{
  display: flex;
  align-items: center;
  padding: 20px;
}
.bankname>span{
  font-size: 20px;
}
.rulename{
  appearance: none; /* حذف استایل پیش‌فرض مرورگر */
  width: 15px; /* عرض مربع */
  height: 15px; /* ارتفاع مربع */
  background-color: white; /* رنگ پس‌زمینه */
  border: 2px solid red; /* رنگ و ضخامت کادر */
  border-radius: 0; /* بدون گوشه گرد، که مربع می‌سازد */
  display: inline-block;
  position: relative;
  margin-left: 30px;
}

.rulename:checked::before {
  content: "";
  position: absolute;
  width: 10px; 
  height: 10px;
  background-color: red;
  top: 1px;
  left: 1px;
  border-radius: 0%;
}



/*


Customersatisfactionitem


*/


#Customeritem{
  display: flex;
  direction: rtl;
  flex-direction: column;
  border: 3px solid rgb(182, 178, 178);
  padding: 20px;
  width: 280px;
  height: 450px;
  margin: 20px;
  justify-content: space-around;
  
  border-radius: 10px;
  background-color: rgba(0, 255, 136, 0.833);
}
#Customeritemimge{
  width:100%;
  height: 330px;
  border-radius: 10px;
}

.Customeritemtext{
  font-size: 17px;
  font-weight: 900;
}


/*


Customersatisfactionitems


*/


#Customersatisfactionitems{
  border: 5px solid rgb(144, 139, 139);
  padding-bottom: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 30px;
  background-color: #f6f6f6; 
  direction: rtl;
  max-width: max-content;


}
.Customersatisfactionbutton
{
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.Customersatisfactionbutton:hover{
  cursor: pointer;
  background-color: #ffffff;
}




/*


Kesht1


*/

#kesht1container{
  direction: rtl;
  width: 80%;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 40px;
}

#kesht1container p {
font-size: 16px;
}

#kesht1container h1 {
  margin-right: 0%;

}

#kesht1container h2 {
  margin-right: 0%;

}

.kesht11{
border-radius: 15px;
  width: 250px;
  height: 200px;
}



.about-me{
  direction: rtl;
  background-color: #ffffff;
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  width: 70%;
  line-height: 40px;

}
.about-me p {
  display: flex;
  align-items: center;
  
}

.about-me p svg {
  margin-right: 8px; /* فاصله بین آیکون و متن */
  color: #4CAF50; /* رنگ آیکون‌ها */
}

.about-me h1,h2{
  margin-right: 0px;
}




/*


comment

*/



#textarea{
  width: calc(100% - 1.8px);
  border-radius: 7px;
  resize: none;
  height: 80px;
  font-size: 20px;
}
.comments{
  border: 3px solid rgb(182, 178, 178);
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 16px;
  background-color: rgb(249, 249, 249);

}
.commenttitle{
  font-size: 20px;
}






@media screen and  (max-width: 800px){
  #srech-sidebaricon{
    display: none;
  }
  #sending{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  #boxprice{
    width: 100%;
  
  }
  #boxaddress{
    width: 100%;
    margin: 0px;
  }

  #processsending{
    width: 100%;
    margin: 0px;
    margin-top: 30px;

  }
  
 #sendingcontainer{
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
 }
  
}

#basketbakhsh2{
  width: 20% ;
  direction: rtl; 
}
#basketbakhsh3{
 width: 35% ; 
 direction: rtl; 

}

#basketbakhsh4{
  width: 25% ; 
}
#basketbakhsh41{
  width: 8% ; 
}
#faTrash1{
  margin-left: 10px;
  padding-left: 30px;
 }



@media screen and  (max-width: 830px){

  #basketbakhsh1{
    display: none;
  }
  #basketbakhsh2{
    width: 25% ; 
 }
  #basketbakhsh3{
   width: 35% ; 

  }

  #basketbakhsh4{
    width: 40% ; 
  }
  #faTrash1{
   margin-left: 10px;
   padding-left: 10px;
  }
}